*{
  font-family: 'Lato', sans-serif;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;

  /*background-image: url("./img/quizBackgournd.png");*/
  height: 400px;
  width: 100%;

  background-color: #87CEEB;
  margin: 0 auto;
}



.quiz-content {
  height: 300px;
  width: 75%;
  
  background-color: #ffffff;
  margin: 0 auto;
}
.quiz-button {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #000000;
  background-color: #E7C496;;
  border-color: #E7C496;;
  margin-right: 10px;
  position: relative;
  top: 1px;
  float: right
}
.badge-content {
  height: 350px;
  width: 90%;
  border-color: #000000;
  border-style: solid;
  border-radius: 25px;
  background-color: #E7C496;
  margin: 0 auto;
}
.badge-content-header {
  
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 90%;
  border-color: #000000;
  border-style: solid;
  background-color: #F3ECC9;
  margin-top:10px;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
}
.badge-button {
  padding: 7px 7px;
  font-size: 0.875rem;
  line-height: normal;
  color: #000000;
  background-color: #E79696;
  border-color: #E79696;
  margin-right: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  float: left
}

.light{
  background-color: #F3ECC9;
}

.medium{
  background-color: #E7C496;
}


.medium .sphnxtext{
  margin-bottom: 400px;
}

.dark{
  background-color: #D4AC67;
}

.gray{
  background-color: #AAAAAA;
}

.containerrow {
  margin-left:0;
  margin-right:0;
  height:100%;
}

.sky {
  background-color: #87CEEB;
}

.savebutton {
  background-color: #C9F3D5;
  color: #000000;
}

.cancelbutton {
  color: #000000;
}

.choose-file-button {
  background-color: white;
  color: #000000;
}

select {
  direction: ltr;
}

option {
  direction: ltr;
}

