
.light{
    background-color: #F3ECC9;
  }
  
  .medium{
    background-color: #E7C496;
  }
  
  
  .medium .sphnxtext{
    margin-bottom: 400px;
  }
  
  
  .medium.homesearchbar{
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .homecontainer{
    width:95%;
    height:100vh;
    margin-bottom:10%;
    align-items:left;
  }
  
  .dark{
    background-color: #D4AC67;
  }
  
  .gray{
    background-color: #AAAAAA;
  }
  
  .containerrow {
    margin-left:0;
    margin-right:0;
    height:100%;
  }
  .marginspacing{
    margin: 1%;
  }
  .paddingspacing{
    padding: 0.5%;
  }
  
  .sky {
    background-color: #87CEEB;
  }
  
  .savebutton {
    background-color: #C9F3D5;
    color: #000000;
  }
  
  .cancelbutton {
    color: #000000;
  }
  
  .choose-file-button {
    background-color: white;
    color: #000000;
  }
  
  select {
    direction: ltr;
  }
  
  option {
    direction: ltr;
  }
  
  div {
    white-space: pre-wrap;
  }