  .light{
    background-color: #F3ECC9;
  }
  
  .medium{
    background-color: #E7C496;
  }
  
  .medium.homesearchbar{
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .homecontainer{
    width:100%;
    height:100%;
    margin-bottom:10%;
    align-items:left;
  }
  
  .dark{
    background-color: #D4AC67;
  }

  html, body, #root, .containerrow{
    height: 100%;
    overflow:auto;
  }
  
  .gray{
    background-color: #AAAAAA;
  }
  
  .containerrow {
    margin-left:0;
    margin-right:0;
    height:100%;
  }
  .marginspacing{
    margin: 1%;
  }

  .paddingspacing{
    padding: 0.5%;
  }
  
  .sky {
    background-color: #87CEEB;
  }

  .activityCard{
    max-width: 400px;
    width: 250px;
    max-height: 400px;
    height: 300px;
    outline: 2px solid black;
    align-items: center;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .activityCardButton{
    position: absolute;
    bottom: 0px;
    inline-size: 200px;
    overflow-wrap: break-word;
  }

  .activityCardImage{
    max-width: auto;
    height: 200px;
    object-fit: cover;
  }

  .subscriptionrow{
    margin-top: 8px;
  }

  .subscriptionbutton{
    background: #E7C496;
    border: 1px solid black;
    color: black;
    font-size: 20px;
  }
  .subscriptionbutton:hover, .subscriptionbutton:focus{
    background: #D4AC67;
  }
  .subscriptions{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }