  .light{
    background-color: #F3ECC9;
  }
  
  .medium{
    background-color: #E7C496;
  }
  
  .dark{
    background-color: #D4AC67;
  }

  html, body, #root, .containerrow{
    height: 100%;
    overflow:auto;
  }
  
  .gray{
    background-color: #AAAAAA;
  }

  .homeBackground{
    background-image: linear-gradient(to bottom right,#f9c51c,#c9e9f6, #1f40ba);
  }

  .homeTitleRow{
    margin: 1%;
    padding: 0.5%;
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 24%) 2px 2px 1px 1px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  }

  .homesearchbar{
    margin-left: 8%;
    margin-right: 8%;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .selection{
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 30px;
    margin-top: 15px;
    box-shadow: rgb(0 0 0 / 24%) 2px 2px 1px 1px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  }

  .homeCard{
    width: 25% !important;
    text-align: center;
    font-size: 25px;
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 24%) 2px 2px 1px 1px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .homeLogout{
    border: solid black !important;
    border-radius: 15px !important;
    border-width: 1px !important;
    box-shadow: rgb(0 0 0 / 24%) 2px 2px 1px 1px, rgb(0 0 0 / 24%) 0px 0px 1px 0px !important;
    height: inherit !important;
    margin-right: auto;
    width: 8%;
  }

  .homecontainer{
    max-width: 100vw;
    width:100%;
    height:100vh;
    margin-bottom:10%;
  }

  .homerow{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border: solid black;
    border-width: 2px;
  }

  .homeProfile{
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 24%) 2px 2px 1px 1px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    height: inherit !important;
    margin-left: auto;
    width: 8%;
  }
  
  .containerrow {
    margin-left:0;
    margin-right:0;
    height:100%;
  }

  .sky {
    background-color: #87CEEB;
  }
  .activityRow{
    display: flex;
    justify-content: center;
  }
  .activityCard{
    max-width: 400px;
    width: 230px;
    max-height: 400px;
    height: 300px;
    outline: 2px solid black;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .activityCardButton{
    position: absolute;
    bottom: 0px;
    inline-size: 200px;
    overflow-wrap: break-word;
  }

  .activityCardImage{
    max-width: auto;
    height: 200px;
    object-fit: cover;
  }

  .subscriptionrow{
    margin-top: 8px;
  }

  .subscriptionbutton{
    background: #E7C496;
    border: 1px solid black;
    color: black;
    font-size: 20px;
  }
  .subscriptionbutton:hover, .subscriptionbutton:focus{
    background: #D4AC67;
  }
  .subscriptions{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    
  }

  .topuserrow{
    margin-top:8px;
    margin-right:15px;
  }

  .topuser{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .mainFeed{
    align-content: center;
  }

  .homeColumn{
    max-width: 10%;
    width: 100%;
    border-radius: 40px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 15px;
    
  }
